
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00ff88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
